<%- include('./partials/header.ejs') %>
    <h1>Edit Book/Add Review</h1>
    <form action="/mylibrary/<%=book.id%>?_method=PUT" method="POST">
        <fieldset>
            <label for="title">Title:</label>
            <input type="text" name="title" id="title" value="<%=book.title%>"/>
        </fieldset>
        <fieldset>
            <label for="author">Author:</label>
            <input type="text" name="author" id="author" value="<%=book.author%>"/>
        </fieldset>
        <fieldset>
            <label for="starRating">Star Rating:</label>
            <input type="number" name="starRating" id="starRating" value="<%=book.starRating%>"/>
        </fieldset>
        <fieldset>
            <label for="review">Your review:</label>
            <textarea name="review" id="review" cols="30" rows="10"><%=book.review%></textarea> 
        </fieldset>
        <fieldset>
            <label for="status">Read book?</label>
            <input type="checkbox" name="status" id="status"
                <% if(book.status === true) { %>
                    checked
                <% } %>
            />
        </fieldset>
        <fieldset>
            <label for="ownedBy">Owned By:</label>
            <input type="text" name="ownedBy" id="ownedBy" value="<%=book.ownedBy%>"/>
        </fieldset>
        <input type="submit" value="Edit Book/Add Review">
    </form>
</body>
</html>