<%- include('./partials/header.ejs') %>
    <h1 id="edit-h1">Edit Book/Add Review</h1>
    <form action="/mylibrary/<%=book.id%>?_method=PUT" method="POST" id="edit-book-form">
        <fieldset class="input-group form-margin">
            <span class="input-group-text">Title</span>
            <label for="title" class="form-label"></label>
            <input type="text" name="title" id="title" value="<%=book.title%>" class="form-control"/>
        </fieldset>
        <fieldset class="input-group form-margin">
            <span class="input-group-text">Author</span>
            <label for="author" class="form-label"></label>
            <input type="text" name="author" id="author" value="<%=book.author%>" class="form-control"/>
        </fieldset>
        <fieldset class="input-group form-margin">
            <span class="input-group-text">ISBN Number</span>
            <label for="isbn" class="form-label"></label>
            <input type="number" name="isbn" id="isbn" value="<%=book.isbn%>" class="form-control"/>
        </fieldset>
        <fieldset>
            <select name="starRating" id="starRating" class="form-select">
                <option selected>Book Rating</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
                <option value="4">Four</option>
                <option value="5">Five</option>
            </select>
        </fieldset>
        <fieldset class="input-group form-margin">
            <span class="input-group-text">Book Review</span>
            <label for="review" class="form-label"></label>
            <textarea name="review" id="review" cols="30" rows="10" class="form-control"><%=book.review%></textarea> 
        </fieldset>
        <fieldset class="form-check form-switch form-margin">
            <label for="status">Read book?</label>
            <input type="checkbox" class="form-check-input" name="status" id="status"
                <% if(book.status === true) { %>
                    checked
                <% } %>
            />
        </fieldset>
        <fieldset class="form-check form-switch form-margin">
            <label for="borrowed" class="form-label">Book Is Borrowed</label>
            <input type="checkbox" name="borrowed" id="borrowed" class="form-check-input" role="switch"
            <% if(book.borrowed === true) { %>
                checked
            <% } %>
            />
        </fieldset>
        <fieldset class="input-group form-margin borrowed" >
            <span class="input-group-text">Borrowed By</span>
            <label for="borrowedBy" class="form-label"></label>
            <input type="text" name="borrowedBy" id="borrowedBy" class="form-control" value="<%=book.borrowedBy%>"/>
        </fieldset>
        <input type="submit" value="Edit Book/Add Review" id="edit-btn" class="btn">
    </form>
</body>
</html>