<%- include('./partials/header.ejs') %>
    <h1>Book Show Page</h1>
    <img src="https://covers.openlibrary.org/b/isbn/<%=book.isbn%>-L.jpg" alt="">
    <p>Title: <%=book.title%></p>
    <p>Author: <%=book.author%></p>
    <p>Your Rating: <%=book.starRating%></p>
    <p>Review: <%=book.review%></p>
    <p>Read Book:
        <% if(book.staus === true){ %>
            Yes
        <% }else{ %>
            No
        <% } %>
    </p>
    <p>Owned by: <%=book.ownedBy%></p>
    <p>Isbn Number: <%=book.isbn%></p>

    <a href="/mylibrary/<%=book.id%>/edit">
        <button>Edit Book/Add Review</button>
    </a>
    <form action="/mylibrary/<%=book.id%>?_method=DELETE" method="POST">
        <input type="submit" value="Remove book from your library">
    </form>
</body>
</html>