<%- include('./partials/header.ejs') %>
<title><%=book.title%></title>
</head>
<body>
    <%- include('./partials/nav.ejs') %> 
        <div id="info">
        <!-- <img src="https://covers.openlibrary.org/b/isbn/<%=book.isbn%>-L.jpg" alt="" id="book-cover"> -->
        <img src="https://pictures.abebooks.com/isbn/<%=book.isbn%>-us-300.jpg" id="book-cover" alt="book cover">
        <div id="book-info">
            <p>Title: <%=book.title%></p>
            <p>Author: <%=book.author%></p>
            <p>Your Rating: <%=book.starRating%></p>
            <p>Review: <%=book.review%></p>
            <p>Read Book:
                <% if(book.status === true){ %>
                <span style="color:green;">Yes</span>
                <% }else{ %>
                <span style="color:red;">No</span>
                <% } %>
            </p>
            <p>Book Is Borrowed:
                <% if(book.borrowed === true){ %>
                    <span style="color:green;">Yes</span>
                    <p>Borrowed By: <%=book.borrowedBy%></p>
                   <% }else{ %>
                    <span style="color:red;">No</span>
                   <% } %>    
            </p>     
        </div>
        </div>

    <div id="btn-div">
    <a href="/mylibrary/<%=book.id%>/edit">
        <button id="edit-btn" class="btn">Edit Book/Add Review</button>
    </a>

    <form action="/mylibrary/<%=book.id%>?_method=DELETE" method="POST">
        <input type="submit" value="Remove book from your library" class="btn" id="delete-btn">
    </form>
    </div>
</body>
</html>